<section class="justify-content-center align-items-center py-4">
    <h1> {{title}} usuario</h1>
    <form [formGroup]="userForm" (ngSubmit)="getDataForm()" style="border: 2px solid red; padding: 2rem; border-radius: 8px; background: #fff;">
        <div class="mb-3">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="first_name"  id="first_name" placeholder="Ingresa tu nombre">
            @if(checkControl('first_name', 'required')){
                <p class="error">El campo es obligatorio</p>
            }
            @if(checkControl('first_name', 'minlength')){
                <p class="error">La longitud de este campos es de minimo 3 caracteres</p>
            }
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="last_name"  id="last_name" placeholder="Ingresa tu apellido">
            @if(checkControl('last_name', 'required')){
                <p class="error">El campo es obligatorio</p>
            }
            @if(checkControl('last_name', 'minlength')){
                <p class="error">Debe ser un apellido Valido</p>
            }
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email"  id="email" id="email" placeholder="Ingresa tu email">
            @if(checkControl('email', 'required')){
                <p class="error">El email es obligatorio</p>
            }
            @if(checkControl('email', 'pattern')){
                <p class="error">El email tiene que ser valido</p>
            }
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Enlace de la imagen</label>
            <input type="url" class="form-control" formControlName="image" id="imagen" placeholder="Ingresa el enlace de la imagen">
            @if(checkControl('image', 'required')){
                <p class="error">El enlace de la imagen es obligatorio</p>
            }@if(checkControl('image', 'pattern')){
                <p class="error">Debe ser un enlace URL válido</p>
            }
        </div>

        <input type="submit" class="btn btn-primary btn-danger " [value]="title" [disabled]="userForm.invalid">
    </form>
</section>