<div class="card text-center border-3 border-danger" style="width: 18rem;">
    <img [routerLink]="['/user', miUser._id]" [src]="miUser.image" class="card-img-top rounded-circle mx-auto mt-3" [alt]="miUser.first_name"  >
    <div class="card-body">
        <h3 [routerLink]="['/user', miUser._id]" class="card-title" >{{miUser.first_name}}<br>{{miUser.last_name}}</h3>
        <div class="d-flex justify-content-center gap-2 mt-3">
            <button type="button" class="btn btn-primary" title="Ver detalle" [routerLink]="['/user', miUser._id]">
                Ver detalle
            </button>
            <button type="button" class="btn btn-warning " title="Actualizar" [routerLink]="['/updateuser', miUser._id]">
                Actualizar
            </button>
            <button type="button" class="btn btn-danger" title="Borrar" (click)="deleteUser(miUser._id)">
                Borrar
            </button>
        </div>
    </div>
</div>