<section class="promises">
    <div class="row g-4 pt-4">
        @for(user of arrUsersPromises; track user._id){
            <article class="col-12 col-md-6 col-lg-3">
                <app-user-card [miUser]="user" (deleteUserEmit)="getAlertDelete($event)"></app-user-card>
            </article>
        }
    </div>
    <div class="d-flex justify-content-center text-center text-white gap-2 p-5">
        <button class="btn btn-danger" (click)="gotoPrev()"> Anterior</button>
        <button class="btn btn-danger" (click)="gotoNext()"> Siguiente</button>
    </div>

</section>